/* src/styles/App.css */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
  /* background: linear-gradient(90deg, rgba(64,58,58,1) 0%, rgba(46,46,46,1) 100%) !important; */
  background: #0D1F2D !important;
}


.lexend{
  font-family: "Lexend", sans-serif;
}

main {
  padding: 20px;
}

section {
  margin: 20px 0;
}




/* Otros estilos personalizados */